.App {
  text-align: center;
}

.filters {
  width: 50%;
  align-content: center;
}

.nb_Questions {
  width: 100%;
  height: 50px;
  background-color: rgb(206, 234, 243);
  color: rgb(53, 90, 194);
  border: none;
}

.role_filter {
  justify-content: space-around;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
